{
  "extends": "a1motion/react",
  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": "es5",
      "printWidth": 120,
      "semi": true,
      "jsxBracketSameLine": true,
      "arrowParens": "always",
      "endOfLine": "lf",
      "singleQuote": false
    }]
  }
}
